@font-face {
    font-family: "title";
    src: url(../fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "text";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "subtitle";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}